[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.13"

[packages]
common = {editable = true, path = "src/common"}
aws-lambda-powertools = "*"
requests = "*"

[dev-packages]
boto3-stubs = { extras = [  "sns", "sqs", "organizations" ], version = "*"}
cfn-lint = "*"
flake8 = "*"
genson = "*"
jsonschema = "*"
json2python-models = "*"
moto = { extras = [  "sns", "sqs",  "organizations" ], version = "*"}
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"
pytest-pylint = "*"
tox = "*"
pytest-dotenv = "*"
requests-mock = "*"

[scripts]
test = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 90 tests"
test-unit = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 90 tests/unit"
test-int = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 90 tests/integration"
test-ete = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 90 tests/ete"
flake8 = "pytest -vv --flake8"
pylint = "pytest -vv --pylint"
mypy = "pytest -vv --mypy"
